nav{
    display: flex;
    justify-content: space-around;
    height: 120px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.434);

}
.mo{
    position: relative;
    right: 120px;
    top: 40px;
}
.mo input{
    border: 0px;
    background-color: white;
    font-size: 15px;
    width: 50px;  
}
.mo input:hover{
    transform: translate(-15px ,0px );
    transition: all 0.8s ease;
}
.mo i{
    position:relative;
    right: 20px;
    color: dimgray;
}
.bo{
    
    position: relative;
    top: 40px;
}
.bo button{ 
    border: 3px solid  rgb(81, 81, 81);
    color: rgb(81, 81, 81);
    background-color: white;
    font-size: 25px;
    width: 160px;
    height: 35px;
}
.no{
    position: relative;
    left: 100px;
    top: 40px;
}
.no i{
    font-size: 18px;
    color: dimgray;
    padding: 0px 5px;
}
.no i:hover{
    color: rgb(51, 51, 51);
    transition: all 0.8s ease;
}
.section1{
    height:100px;
}
.vr{
    position: relative;
    top: 18px;
    display: flex;
    justify-content: center;
    height: 60px;
    
}
.hh{
    color: blueviolet;
}
.vr a{
    color: rgba(74, 74, 74, 0.886);
    text-decoration: none;
    padding: 0px 0px 0px 30px;
}
.vr a:hover{
    color: blueviolet;
}
.sectionn1{
    display: flex;
    background-color: rgba(154, 154, 154, 0.142);
    height: 60px;
      
}
.sectionn1 div {
    
    position: relative;
    left: 50px;
    top: 10px;
    margin: 10px;
}
.sectionn1 div a {
   color: rgba(0, 0, 0, 0.826); 
   text-decoration: none;
}
.sectionn1 div .yy{
    color: rgba(137, 43, 226, 0.903);
}
































.f2 .oo{
    border-radius: 3px;
    width: 35px;
    height: 40px;
    background-color: white;
    color: purple;
    border: 2px solid purple;
}
.f2 .oo1{
    position: relative;
    left: 60px;
    border-radius: 3px;
    width: 35px;
    height: 40px;
    background-color: white;
    color: purple;
    border: 2px solid purple;
}
.f2  .f3 input{
    border: 1px solid gray;
    border-radius: 2px;
    position: relative;
    left: 35px;
    bottom: 38.5px;
    width: 58px;
    height: 34px;
    text-align: center;

    

}


.sections{
    display: flex;
    margin:50px;
}
.writ{
    position: relative;
    bottom: 20px;
    left: 100px;
}
.writ h1{
    color: rgba(0, 0, 0, 0.873);
}
.writ p{
    color: dimgray;
}
.writ h2{
    color: blueviolet;
}
.f2 .oo{
    border-radius: 3px;
    width: 35px;
    height: 40px;
    background-color: white;
    color: purple;
    border: 2px solid purple;
}
.f2 .oio{
    border-radius: 3px;
    color: black;
    font-size: 15px;
    background-color: white;
    border: 2px solid gray;
    margin: -4px;
    width: 70px;
    height: 36px;
}











.diivv1 button{
    color: rgba(255, 255, 255, 0.878);
    border-radius: 4px;
    box-shadow: ;
    background-color: blueviolet;
    width: 170px;
    height: 50px;
    position: relative; 
    

}
.diivv1 button:hover{
    box-shadow: 5px 5px 15px dimgray;
    transition: all 0.5s ease;
    transform: scale(1.1);
}




.section9{
    background-color: rgba(212, 212, 212, 0.275);
    height: 750px;
}
.section9 h1{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.867);
}
.section9 .q8q{
    
    position: relative;
    left: 725px;
    color:  rgba(212, 212, 212, 0.275);
    border-bottom: 2px solid rgba(123, 42, 204, 0.725);
}
.like{  
    display: flex;
    justify-content: space-around;
    margin: 100px;
}
.div121{
    border: 1px solid rgba(212, 212, 212, 0.566);
    background-color: white;
    box-shadow: 2px 2px 2px 4px  rgba(245, 245, 245, 0.385) ,-3px -3px rgba(245, 245, 245, 0.27);
    width: 330px;
    border-radius: 5px;
}
.div121 h1{
    color: rgba(93, 21, 159, 0.84);
    font-size: 23px;
}
.div121 h6{
    color: dimgray;
    font-size: 16px;
    display: flex;
    justify-content: center;
}
.section6{
    display: flex;
    justify-content: space-around;
    color: dimgray;
}
.section6 h1{
    color: rgba(0, 0, 0, 0.81);
}
.section6 a{
    text-decoration: none;
    color: dimgray;
}
.ti{
    position: relative;
    top: 50px;
}
.ti1{
    position: relative;
    top: 105px;
}
.ti2{
    position: relative;
    top: 105px;
}
.ti3{
    position: relative;
    top: 50px;
}
.ti3 .bnf{
    color: blueviolet;
   
}
.ti4{
    position: relative;
    top: 50px;
}
.ti4 label{
    font-size:20px ;
}
.ti4 .bor{
    border: 2px solid rgb(142, 142, 142);
    border-radius: 5px;
    font-size: 20px;
    width: 250px;
    height: 40px;
}
.ti4 .bor1{
    border: 1px solid white;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: blueviolet;
    position: relative;
    bottom:43px;
    left: 177px;
    width: 77px;
    height: 40px;

}
.ti5{
    color: blueviolet;
    position: relative;
    top: 110px;
    left: 55px;
}
.ti5 .fa-sharp{
    position: relative;
    bottom: 10px;
}
.section7{
    position: relative;
    top: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: dimgray;
}
.section7 a{
    text-decoration: none;
    color: blueviolet;
    font-size: 18px;
    
}